.square {

    border: 5px solid lightblue;

    text-align: center;

    width: 50vw;

    height: 70vw;

  }


  .content {

    font-size: 2em;

    padding-top: 20%;

  }


img {
  width: 40%;
  height: auto;
}